@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bitcount:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
  cursor: default;
  overscroll-behavior: none;
}
body {
  color: white;
  background-color: black;
}
#matrix-background {
  background: #00cc33;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}
#title-symbol {
  color: blueviolet;
}
#blinker {
  opacity: 1;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.giant-blinker {
  font-family: "Bitcount";
  font-weight: 100;
  font-size: 120px;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#hline {
  height: 1px;
  background-color: blueviolet;
  flex-grow: 1;
  margin-right: 150px;
}
#hline-with-text-container {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
a {
  text-decoration: none;
  color: #00cc33;
  font-weight: 200;
}
a:hover {
  color: aqua;
}
#name {
  font-family: "Bitcount";
  font-weight: 200;
  font-size: 70px;
  color: white;
  margin: 80px;
  padding-left: 30px;
}
#name:hover {
  text-decoration: underline 2px;
}
#brief {
  font-family: "Bitcount";
  font-weight: 100;
  font-size: 25px;
  color: lightgrey;
  padding-left: 110px;
}#title {
  font-family: "Bitcount";
  font-weight: 200;
  font-size: 60px;
}
#subtitle {
  font-family: "Bitcount";
  font-weight: 200;
  font-size: 60px;
  padding-left: 100px;
}
#description {
  font-family: "Anonymous Pro";
  font-weight: 10;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 60px;
  text-align: justify;
}
#grid-container {
  display: flex;
  flex-wrap: wrap;
}
#grid-item {
  display: flex;
  font-family: "Bitcount";
  font-size: 30px;
  font-weight: 100;
  padding-left: 100px;
  padding-right: 100px;
}
#DAMI3000-images {
  display: flex;
  padding-left: 33px;
  width: 200px;
  height: 200px;
  gap: 30px;
}
.imgborder {
  border: 0.0001px dotted #00cc33;
  padding: 3px;
}
.github-link {
  text-decoration: none;
  color: #00cc33;
  font-weight: 200;
  font-family: "Bitcount";
  font-size: 30px;
  padding-left: 30px;
}
.smaller-sup {
  font-size: 15px;
}
.name-and-cvbutton-container {
  display: flex;
  gap: 200px;
  padding-top: 30px;
}
.cvbutton {
  font-size: 30px;
  background-color: transparent;
  color: #00cc33;
  font-family: "Bitcount";
  font-weight: 150;
  border: dotted #00cc33;
  cursor: grab;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 5px;
}
button {
  background-color: transparent;
  border: transparent;
}
.cvbutton-border {
  border: dotted #00cc33;
}
.cvbutton:hover {
  border: dotted #555;
}
::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  width: 2px;
  background: #00cc33;
}
.logo-sebn {
  width: 300px;
  height: auto;
  margin-left: 30px;
}
.logo-seb {
  width: auto;
  height: 53px;
  margin-bottom: 20px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
}
.navbar-underline {
  border: dotted white;
  height: 1px;
  opacity: 0.5;
}
.website-end {
  border: solid blueviolet;
  height: 1px;
}
.anchors-container {
  display: flex;
  font-family: "Bitcount";
  font-size: 30px;
  font-weight: 100;
  gap: 10px;
  margin-top: 10px;
  margin-left: 1px;
}
.anchors-container a {
  color: white;
  font-weight: 100;
  justify-content: end;
}
.anchors-container a:hover {
  font-weight: 200;
}
.social-icons-container a img {
  opacity: 0.6;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
}
.social-icons-container a img:hover {
  opacity: 1;
}
#customlogo-sebn {
  color: blueviolet;
}
#customlogo-sebn:hover {
  color: cyan;
}
